<!DOCTYPE html>
<html>
  <head>
    <title>Show Cities' Location  on The Google Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html { height: 100%; }
      body { height: 100%; margin: 0px; padding: 0px }
      #map-canvas { height: 500px; }
      #wrapper { position: relative; width: 1080px; margin: auto; }
      #header { background: black; color: white; }
      #menu { height:24px }
      ul.menu {  }
      li.menu { display:inline; }
      a.menu { float:left;height:20px; width:auto; text-decoration:none; color:black; background-color:white; padding:2px 10px; border-right:1px solid white; }
      a.menu:hover { background-color:black; color:white; border-right:1px solid white; }
      #scope { height: 65px; }
      #city-list { margin-bottom: 20px; }
      #footer { background: black; color: white; text-align: center; }
    </style>
    <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=drawing"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>
var rectangle;

$(document).ready(function initialize() {
    var mapOptions = {
        center: new google.maps.LatLng(20, 20),
        zoom: 2,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById('map-canvas'),
                                    mapOptions);

    {% for city in cities %}

    var myLatlng = new google.maps.LatLng({{ city.latitude }}, {{ city.longitude}} );

    var marker = new google.maps.Marker({
        position: myLatlng,
        icon:"http://labs.google.com/ridefinder/images/mm_20_red.png",
        map: map,
    });

    {% endfor %}

    var drawingManager = new google.maps.drawing.DrawingManager({
        drawingMode: google.maps.drawing.OverlayType.MARKER,
        drawingControl: true,
        drawingControlOptions: {
            position: google.maps.ControlPosition.TOP_CENTER,
            drawingModes: [
                google.maps.drawing.OverlayType.MARKER,
                google.maps.drawing.OverlayType.CIRCLE,
                google.maps.drawing.OverlayType.POLYGON,
                google.maps.drawing.OverlayType.POLYLINE,
                google.maps.drawing.OverlayType.RECTANGLE
            ] 
        },
        markerOptions: {
            icon: 'images/beachflag.png'
        },
        circleOptions: {
            fillColor: '#ffff00',
            fillOpacity: 1,
            strokeWeight: 5,
            clickable: false,
            editable: true,
            zIndex: 1
        }
    });
    drawingManager.setMap(map);

    google.maps.event.addListener(drawingManager, 'rectanglecomplete', function(newRect) {
        rectangle = newRect;
        var rectangleBounds = rectangle.getBounds();
        var southWest = rectangleBounds.getSouthWest();
        var northEast = rectangleBounds.getNorthEast();      
        document.getElementById("scope").elements['minlog'].value = southWest.lng();
        document.getElementById("scope").elements['minlat'].value = southWest.lat();
        var maxlog = northEast.lng();
        if (maxlog < 0) {
            maxlog = 180
        }
        document.getElementById("scope").elements['maxlog'].value = maxlog; 
        document.getElementById("scope").elements['maxlat'].value = northEast.lat();
    });
});
google.maps.event.addDomListener(window, 'load', initialize);

function removeRectangle() {
    if(rectangle){
        rectangle.setMap(null);      
    }
}
    </script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">ADB2013 HW1</div>
      <div id="menu">
        <a class="menu" href="{% url 'googlemap-readme' %}" target="_blank">Read me</a>
        <a class="menu" href="{% url 'googlemap-index' %}">Home</a>
      </div>
      <div id="map-canvas"></div>
      <form id="scope" action="{% url 'googlemap-region' %}" method="post" target="_blank">
      {% csrf_token %}
          <p>Query Box Information: </p>
          minlog: <input type="text" name="minlog" value="0" size="5"/>
          minlat: <input type="text" name="minlat" value="-90" size="5"/>
          maxlog: <input type="text" name="maxlog" value="180" size="5"/>
          maxlat: <input type="text" name="maxlat" value="90" size="5"/>
        <input type="submit" value="Set Query Box" />
        <input type=button onclick="removeRectangle();" value="Remove Query Box">
        <hr />
      </form>
      <div id="city-list">
      {% if cities %}
        <p>Information of Total Cities:</p>
        <table border="1">
          <tr>
            <td>City</td>
            <td>Country</td>
            <td>Population Class</td>
            <td>Longitude</td>
            <td>Latitude</td>
            <td>Position(log,lat)</td>
          </tr>
          {% for city in cities %}
          <tr>
            <td>{{ city.cityname }}</td>
            <td>{{ city.countryname }}</td>
            <td>{{ city.populationclass}}</td>
            <td>{{ city.longitude }}</td>
            <td>{{ city.latitude }}</td>
            <td>{{ city.geom }}</td>
          </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>No cities are available.</p>
      {% endif %}
      </div>
      <div id="footer">copyleft 2013, lazyEagles</div>
    </div>
  </body>
</html>
